/* 공통설정 */

div{
	margin: 0px 0px;
}

/*
*{
	outline: 1px solid;
}
*/


/* 태그별 설정 */
.main{
	position:relative;
	margin: 10% 30%;
	width: 512px;
	height: 612px;
	border: lightgray 1px solid;
	border-radius: 1rem;
}
.content-wrap{
	position: relative;
	margin: 5% 5%;
	width:460.8px;
	height: 100%;
/*	background-color: powderblue;*/
}

/* logo */
.logo{
	position: relative;
/*	margin: 0 0 5% 0;*/
	width: 100%;
/*	height: 153.0px;*/
	height: 130.0px;
	text-align: center;
	font-size: 4rem;
	top: 2rem;
/*	top: 10px;*/
/*	background-color: yellowgreen;*/
}

/* input */
.inputform{
	position: relative;
/*	margin: 5% 0; */
	width: 100%;
/*	height: 382.5px;*/
	height: 306.0px;
/*	background-color: lightgray;*/
}

.formwrapper, .email, .password, .nickname, .name, .signup{
	position: relative;
	margin: 4% 5%; 
	width: 90%;
	height: 38.25px;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	border: lightgray 1px solid;
	background-color: white;
	color: black;
}
.signup{
	background-color: #329B8A;
	color:white;
}

.inner{
	width: 100%;
/*	height: 100%;*/
	line-height: 100px;
/*	font-size: 3rem;*/
}
/*
}
.password{
	position: relative;
	margin: 2% 5%; 
	width: 90%;
	height: 38.25px;
}
.nickname{
	position: relative;
	margin: 2% 5%; 
	width: 90%;
	height: 38.25px;
}
.name{
	position: relative;
	margin: 2% 5%; 
	width: 90%;
	height: 38.25px;
}
.signup{
	position: relative;
	margin: 2% 5%; 
	width: 91%;
	height: 38.25px;
}
*/

/* footer */
.footer{
	position: absolute;
/*	margin: 5% 0 0 0;*/
	width: 100%;
	height: 76.5px;
/*	bottom: 10px;*/
/*	background-color: tomato;*/
	border-top: 1px solid;
	bottom:0px;
/*	padding-top: 3rem;*/
}
.footer-inner{
	position: relative;
	font-size: 1rem;
	text-align: center;
	top:1rem;
	
}